<!-- <html>
    <head>
        <title>
        <%= title %>    
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <%- include('_header'); %> -->

        <hr>

        <div id="todo-table" style="display: flex; justify-content: center;">

          <form action="/newtodo" method="POST">
            <input style="padding:4px;" type="text" name="to_do" placeholder="Add a new Task.." required />
            <button style="margin-left: 12px; width: 62px;" type="submit" class="btn btn-outline-secondary btn-sm">Add</button>
          </form>
        </div>

          <div>
            <ul class="list-group">
                <% for(let i of todolist) { %>
                  <li class="list-group-item "> <p style="display: inline-block;"> <%= i.todo %>  </p> 
                    <div>
                    <i  class="fas fa-calendar-alt"></i>
                    <a  href="/delete-todo/?id=<%=i.id%>"><button style="margin-left: 6px;" type="button" class="btn btn-danger btn-sm">Task Done</i></button></a>
                  </div> </li>
                  
                  <% } %>
            </ul>
          </div>

          <!-- <%- include('_footer'); %>

          <script src="https://kit.fontawesome.com/5ce563faa0.js" crossorigin="anonymous"></script>
        <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html> -->